<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>小叶子的个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/web/css/base.css" rel="stylesheet">
<link href="/static/web/css/index.css" rel="stylesheet">
<link href="/static/web/css/m.css" rel="stylesheet">
<script src="/static/web/js/jquery.min.js" ></script>
<script src="/static/web/js/jquery.easyfader.min.js"></script>
<script src="/static/web/js/hc-sticky.js"></script>
<script src="/static/web/js/comm.js"></script>
<script src="/static/web/js/scrollReveal.js"></script>
<!--[if lt IE 9]>
<script src="/static/web/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--最上导航-->
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="http://www.yangqq.com">{{ user.username }}的个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/web/index/">网站首页</a></li>
      <li><a href="/backweb/article/">管理文章</a></li>
      <li><a href="/web/about/">关于我</a></li>
      <li><a href="/web/list/">博客文章</a></li>
    </ul>
  </nav>
</header>
<!--文章列表-->
<article>
  <main>
    <div class="blogtab">
    <!--文章列表-->
    {% for a in article %}
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/web/info/{{ a.id }}" target="_blank">{{ a.title }}</a></h3>
      <span class="bigpic"><a href="/web/info/{{ a.id }}" title=""><img src="/article/{{ a.icon }}" alt=""></a></span>
      <p class="blogtext">{{ a.describe }}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/web/about/">小叶子</a></li>
          <li class="lmname"><a href="/web/info/{{ a.id }}">{{ a.column }}</a></li>
          <li class="timer">{{ a.time }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
</div>
  </main>
  <aside class="r_box" >
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="/static/web/images/wx.jpg">
        </ul>
      </div>

  </aside>
</article>
<footer>
  <p><a href="/web/index/" target="_blank">小叶子个人博客</a> <a href="/"></a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
